<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
<form action="finanzas.html">
  <h1>INGRESOS O GASTOS DE LA EMPRESA</h1>
  <span>Bienvenido al listado de mivimientos de dinero de la EMPRESA</span>
  <br>
  <span>Ingresa el ID  de tu empresa para conocer el estado de las finanzas de esta</span>
  <br><br>
  <label for="inputPassword5" class="form-label">ID de la EMPRESA</label>
  <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
  <div id="passwordHelpBlock" class="form-text">
    <br>
    <button type="submit" class="btn btn-primary">Ingresar</button>
</form>
</div>
</body>
</html>