<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="inicio.css">
</head>
<header>
    <div class="wrapper">
        <div class="logo">SOLVERS </div>
        <nav>
            <a href="inicio.html">Inicio</a>
            <a href="empleadoReg.html">Empleados</a>
            <a href="empresasReg.html">Empresas</a>
            <a href="dinero.html">Movimientos de dinero</a>
        </nav>
    </div>
</header>
<body>
<span>BIENVENIDO A NUESTRA PAGINA</span>
<br><br><br>
<span>CREA TU CUENTA COMO EMPLEADO DE UNA EMPRESA</span>
<div class="card text-center">
    <div class="card-header">
        Empleados
    </div>
    <div class="card-body">
        <h5 class="card-title">Registrate</h5>
        <p class="card-text">Crea tu perfil como empleado</p>
        <a href="empleado.html" class="btn btn-primary">Ir al registro de empleados</a>
    </div>
    <div class="card-footer text-muted">
        Crea una cuenta
    </div>
</div>
<br><br>
<span>CREA TU PROPIA EMPRESA SIN SALIR DE CASA</span>
<br>
<div class="card text-center">
    <div class="card-header">
        Empresas
    </div>
    <div class="card-body">
        <h5 class="card-title">Registra tu empresa</h5>
        <p class="card-text">Crea tu propia empresa</p>
        <a href="empresa.html" class="btn btn-primary">Ir al registro de empresas</a>
    </div>
    <div class="card-footer text-muted">
        Crea una empresa
    </div>
</div>
</body>
</html>